.wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    gap: 30px;
    justify-content: center;
}
.foot{
    height: 30px;
    width: 100vw;
    color: #f8efd4;
    display: flex;
    justify-content: center;
    gap: 10vw;
    text-align: center;
    font-size: 1vw;
    font-weight: 700;
    background-color: rgb(27,27,27);
    opacity: .9;
    line-height: 30px;
}
@media (max-width: 768px) {
    .foot{
        display: grid;
        gap: 3px;
        height: 100%;
    }
}