.wrapper{
    height: calc(100vh - 50px);
    width: 100vw;
    opacity: .8;
    background-color: rgb(27,27,27);
    display: grid;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    justify-content: center;
    gap: 50px;
}
.title{
    font-size: calc(1rem + 3vw);
    font-family: "Arial Black",sans-serif;
    text-align: center;
    color: #f8efd4;
}
.titleAnime{
    animation: opa 1s ease;
}
@keyframes opa {
    from{
        opacity: 0;
        transform: translateX(-20px);
    }
    to{
        opacity: 1;
    }
}
.content{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.contentAnime{
    animation: opa 1s ease;
}
@keyframes opa {
    from{
        opacity: 0;
        transform: translateX(20px);
    }
    to{
        opacity: 1;
    }
}
.item{
    background-color: #f8efd4;
    padding: 20px;
    width: 80vw;
    display: grid;
    border-radius: 10px;
    gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
}
.item li{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    gap: 15px;
    font-size: 1rem;
    font-weight: 700;
}
.item li:hover{
    transition: .5s;
    scale: 1.4;
}
.item img{
    height: 20px;
}
.arrow{
    display: grid;
    justify-content: center;
    color: #f8efd4;
    margin-top: 50px;
    opacity: 0;
}
.arrowAnime{
    animation: arrow 1.5s ease-in-out infinite;
    animation-delay: 1s;
}
@keyframes arrow {
    from{
        transform:translateY(-10px);
        opacity: 0;
    }
    30%, 70%{
        opacity: 1;
    }
    to{
        transform:translateY(10px);
        opacity: 0;
    }
}
.arrowIcon{
    scale:1.5;
    transform: scaleX(1.2);
}
@media (max-width: 768px) {
    .wrapper{
        height: 100%;
        padding: 20px 0;
    }
    .container{
        gap: 20px;
    }
    .arrow{
        margin-top: 20px;
    }
    .item{
        grid-template-columns: 1fr;

    }
}